<footer>
  <div class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-bold text-xl"
        >$copy; 2022 #100Devs -- Rock edition</span
      >
    </div>
    >
    <a
      href="/logout"
      class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0"
      >LogOut</a
    >
  </div>
</footer>
