<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <span>Logged in as <%=user%> | </span>
        <a href="/logout">Logout</a>
        </div>
        <div class="col l4 offset-l2 s12">
          
          
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>