<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto" href="/">
        <!-- Swap IMG src to coffeechat-icon.png after uploading assets -->
        <img
          src="https://github.com/anthonypz/todo-mvc-auth-local/blob/main/public/assets/Contactr-logos/coffeechat-icon.png?raw=true"
          alt="" width="30" height="24" class="d-inline-block align-text-top" />
        Contactr
      </a>
    </div>
  </nav>