<header>        
    <a href="/"><img id='logo' src="/images/staticlogo.png" onmouseover="animateLogo" onmouseout="stopAnimateLogo"></a>
    <div id='account'>
        <h2 id="username">Hi, <%= user.userName %>!</h2>
            <a href="/logout"><button class='button-18'>Log out</button></a>
    </div>
</header>