<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/bare.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- You can change this text to whatever you want, I was just bothered by 'Start Bootstrap' :) -->
            <a class="navbar-brand" href="/"><i class="fa-solid fa-house"></i>&nbsp;MVC Group Project</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/todos">Todos</a></li>
                    <% if (loggedIn) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/groups/createGroup">Create a group</a></li>
                                <li><a class="dropdown-item" href="/groups">My groups</a></li>
                                <li><a class="dropdown-item" href="/todos">My todos</a></li>
                                <% if (isAdmin) { %>
                                    <li>
                                        <hr class="dropdown-divider" />Manage
                                    </li>
                                    <li><a class="dropdown-item" href="/admin/manageGroup">Groups</a></li>
                                    <li><a class="dropdown-item" href="/admin/manageTodo">Tasks</a></li>
                                    <% } %>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/logout"><i class="fa-solid fa-power-off"></i>&nbsp;<%= currentUser.username %></a></li>
                        <% } else { %>
                            <li class="nav-item"><a class="nav-link" href="/login" title="Sign In">Sign In</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup" titlz="Sign Up">Sign Up</a></li>
                            <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <div class="container">
