<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="/assets/feather-pointed-solid.svg" alt="feather logo" width="50px" height="50px" class="mx-3">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-warning">Quizzer Home</a></li>
          <li><a href="/questions" class="nav-link px-2 link-warning">Questions</a></li>
        </ul>



        <div class="text-end">
          <a href="/login" class="btn btn-outline-light me-2">Login</a>
          <a href="/signup" class="btn btn-warning">Sign-up</a>
        </div>
      </div>
    </div>
  </header>
