<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right">Trip Planner</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/trips">Trips</a></li>
        <li><a href="/trips/createTrip">Create Trip</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>