<%- include('partials/head.ejs') %>

    <section class="lost">
        <img src="https://image.freepik.com/free-vector/404-error-abstract-concept-illustration_335657-2243.jpg"
            alt="404" class="lost__image" />
        <article class="lost__info">
            <h3>Ooops. Something went wrong.</h3>
            <p><a href="/" title="Go back Home" class="btn btn-primary">Go back Home</a></p>
        </article>
    </section>
    <!-- this javascript must not depend on bootstrap -->

    <%- include('partials/footer.ejs') %>
