<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Archived Todos</h1>
                <ul>
                    <% archive.forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'>
                                <span><%= el.todo %></span>
                                <div class="todoItem--btns">
                                    <span class="incomplete"> inComplete</span>
                                  
                                </div>
                                
                            </li>
                    <% }) %>    
                    </ul>
</body>
</html>