<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>


    <!-- Compiled and minified CSS (materialize) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<link rel="stylesheet" href="css/style.css">


</head>


<body>
  <!-- header -->
  <nav class="blue-grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/cards" class="brand-logo">Happy Notes</a>
      <ul class="right">
        <li><a class="waves-effect blue darken-3 btn-small" href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/logout">Logout</a></li>
      </ul>
      <!-- <a href="/logout" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">Logout</i></a> -->
    </div>
  </nav>
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
      <div class="swiper-slide">Slide 10</div>
    </div>

    <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>


    <!-- <h1>Todos</h1> -->


   


    



    <!-- <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form> -->



    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


    <!-- Compiled and minified JavaScript (materialize)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>




    <script src="js/main.js"></script>
</body>
</html>