<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>

        <%- include('partials/nav') %>

            <div class="container">
                <h3>Contact Us</h3>
                <form action="/send" method="POST" name="contactform" id="contactform">
                    <label for="name">Name</label>
                    <input type="text" name="name"><br><br>
                    <label for="email">Email Adress</label>
                    <input type="email" name="email"><br><br>
                    <label for="number">Phone Number</label>
                    <input type="tel" name="number" id="number"><br><br>
                    <label for="message">Message</label>
                    <textarea row="5" name="message" id="message" form="contactform"></textarea>
                    <input type="submit">
                </form>
            </div>
    </body>

</html>