<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>


<body>
    <%- include('partials/nav') %>
    <div class="container">
        <p>Contact Us</p>
        <form action="/send" method="POST" name="contactform" id="contactform">
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="email">Email Adress</label>
            <input type="email" name="email">
            <label for="number">Phone Number</label>
            <input type="tel" name="number" id="number">
            <label for="message">Message</label>
            <textarea row="5" name="message" id="message" form="contactform"></textarea>
            <input type="submit">
        </form>
    </div>
</body>

</html>