<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevDays</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../css/style.css">
</head>
<header>
    <div id='account'>
        <h2 id="username">Hi, <%= user.userName %>!</h2>
            <a href="/logout"><button class='button-18'>Log out</button></a>
    </div>
</header>
<a href="/blogPost"><i id='backButton' class="fa fa-arrow-left"></i></a>
<body>
    <section>
    <h1>Create New Post </h1>
    <form action="/blogPost/createBlogPost" method="POST">
        <div id="mainInput">
            <label for="title">Title</label><input id="title" name="title" placeholder="">
            <h3 id="date" name="date">
                <%= new Date().toLocaleString('en-us',{ 
                                                        weekday:"long", 
                                                        year:"numeric", 
                                                        month:"short", 
                                                        day:"numeric"}) %></h3>
            <label for="area">Your Thoughts:</label><textarea id="postBody" name="postBody" rows="20" cols="50" placeholder="Write your daily dev journey here!"></textarea>
        </div>
        <div>
            <label for="title">GitHub Link</label><input id="gitHub" name="gitHub" placeholder="GitHub Link">
            <label for="title">Due Date</label><input id="dueDate" name="dueDate" placeholder="Due Date">
            <label for="mood">Mood: </label><select id="mood" name="mood">
                <option>Great</option>
                <option>Good</option>
                <option>Spicy</option>
            </select>
        </div>
        
        <div id="buttons">
        <input type="reset" id="clear" class="button-18" value="Clear">
        <!-- <button id="saveDraft">Save as Draft</button> -->
        <input type="submit" name="Post" class="button-18" value="Post">
        </div>
    </form>
    </section>


    <script src="../js/main.js"></script>
</body>