<!DOCTYPE html>
<html lang="en">
     <%- include('partials/head') %>
   <body>
     
     <%- include('partials/nav') %>

     <p>This is your profile view</p>

     <script src="js/main.js"></script>

    <a href="/trips/createTrip">Create Trip</a>
    <br>
    <br>

    <h1><a href="/trips/createTrip">Vote</a></h1>
    <p>Vote on your trip here</p>

    <div class="rating">
        <!-- Thumbs up -->
        <div class="like grow">
          <button class="btn" action="/trips/trip.id%>" method="PUT" id="green"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
        </div>

        <!-- Thumbs down -->
        <div class="dislike grow">
          <button class="btn" action="/trips/trip.id%>" method="PUT" id="red"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>
        </div>
      </div>


    <script src="/js/main.js"></script>

    <!-- Compiled and minified JavaScript -->
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
