<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>RockWish Dashboard</title>
  </head>
  <body>
    <!-- todo: Put a nice welcome to the user name -->
<h1>Your Dashboard</h1>
    <!-- Display User Wishlist Button -->
    <a href="/dashboard/privateWishlist">My Wishlist</a>
    <!-- Display Public Wishlist Button -->
    <a href="/dashboard/publicWishlist">Public Wishlists</a>
    <!-- Display Add Gear Button -->
    <a href="/gear">Add Gear</a>
    <!-- Logout Button -->
    <a href="/logout">Logout</a>

    <script src="/js/main.js"></script>
  </body>
</html>
