<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <title>500</title>
    </head>
    <body class="error">
        <h1>500 error</h1>
        <div class="return2-dash">
            <a href="/cards">Return to dashboard</a> 
        </div>       
    </body>
</html>