<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get yo gear</title>
  </head>
  <body>
    <h1>Please work</h1>
    <!-- Insert Gear -->
    <form action="/gear/createGear" method="POST">
      <input type="text" placeholder="Gear Name" name="gearName" />
      <input type="text" placeholder="Brand" name="gearBrand" />
      <input type="number" placeholder="0" name="gearPrice" />
      <input type="text" placeholder="good" name="gearCondition" />
      <input
        type="text"
        placeholder="Add any relevant information about the gear in here..."
        name="gearNote"
      />
      <select name="visibility">
        <option value="Private">Private</option>
        <option value="Public">Public</option>
      </select>
    </form>
  </body>
</html>
