<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME</h1>
    <a href="/entries">Enter expense/income</a>
    <a href="/budgets">Create a Budget</a>
    <a href="/compare">See how thing's are shaping up</a>
</body>
</html>