<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- PS 09.02
            Linked Google Fonts 
        -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="indexPage container center-align">
                <h1 class='indexH1'>
                    Create Your 
                    <br>
                    <span class='veryBig'> VERY OWN </span>
                    <br>
                    Todolist!
                </h1>
                    <div class='indexBtn btn blue'>
                        <a href="/login" class='white-text'><i class="material-icons col s.5">done</i> Login</a>
                    </div>
                    <div class='indexBtn btn blue'>
                        <a href="/signup" class='white-text'><i class="material-icons col s.5">create</i> Signup</a>
                    </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>