<section class="d-flex flex-row">
    <img src="/assets/hero-image.svg" width="20%" class="m-5">
    <div class="mt-5">  
        <h1>Quizzer App</h1>
        <p class="mt-4 px-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptates molestiae aliquid nesciunt voluptatibus nulla dolor sed fugiat sapiente voluptate consequuntur voluptas iste, accusantium necessitatibus vitae eaque suscipit modi vel?
        Veritatis fugit minima vel harum officiis, assumenda libero repudiandae laborum ratione. Debitis ullam fuga ad, ipsum nam quis iste, libero quasi cumque expedita delectus dolorem incidunt dignissimos modi temporibus ab.
        Nostrum ea voluptatum minus aperiam eum aut. Neque deserunt perferendis et ipsam earum accusamus dolore veritatis ullam, odit magnam? Dolor magni modi porro nobis repellendus voluptatibus quis, nostrum dolorum minima!
        Possimus ab adipisci ullam laborum quasi quam. Recusandae dolores exercitationem illo! Nam ad, aliquam laboriosam vitae sit ipsam autem consectetur exercitationem sequi odio, maiores ut. Eaque minus ipsum laudantium doloremque!
        Iure ab facere quaerat doloremque sint est illo nisi, pariatur sequi soluta deserunt aspernatur fugit non dolores. Dignissimos officia corrupti sit aperiam voluptatibus nesciunt iste autem perspiciatis? Excepturi, doloremque minus?</p>    
        <a href="/questions" class="btn btn-warning mx-3 my-1">Practice Banki</a>
        <a href="/signup" class="btn btn-dark mx-3 my-1">Sign up for an account</a>

    </div>

</section>
