<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>To Don't List</title>

</head>

<body>
    <section class="container">
        <h1 class="home__title">To Don't List</h1>
        <nav class="home__nav">
            <ul class="home__links">
                <li><a href="/login"><button class="submit__button">Login</button></a></li>
                <li><a href="/signup"><button class="submit__button"> Signup</button></a></li>
            </ul>
        </nav>
    </section>
</body>

</html>