<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>LISTIFY</title>
  </head>
  <body class="login-screen">
    <div class="login-container card">
      <div class="card-body text-center">
        <h1 class="card-title">LISTIFY</h1>
        <h6 class="card-subtitle mb2 text-muted">
          Create your own personalized to-do list!
        </h6>
        <a
          href="/login"
          class="card-link"
          >Login</a
        >
        <a
          href="/signup"
          class="card-link"
          >Signup</a
        >
      </div>
    </div>
    <%- include('./partials/bootstrap-script'); %>
  </body>
</html>
