<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <div class="px-4 py-5 text-center">
        <h1 class="display-5 fw-bold">Create Your VERY OWN Todolist!</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo at minus unde, itaque autem ipsum voluptatibus illo voluptas dolores natus.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="/login">Login</a>
            <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/signup">Signup</a>
          </div>
        </div>
      </div>

</body>
</html>