<%-include('header')-%>

    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <h1>Ready to Build Something Great?</h1>
                 <span>Log in for the existing user</span>
            </div>
            <div>
                <button type="submit" class="btn btn-success rounded-pill">
                    <a href="/login"> Login</a>
                </button>
                <button type="submit" class="btn btn-success rounded-pill">
                    <a href="/signup"> Signup</a>
                </button> 
            </div>
        </div>
    </div>
    
      <%-include('footer')-%>