<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Welcome</title>
</head>
<body class="body">
    <div class="body-section">
        <h1 class = "index-header">Create Your VERY OWN Todolist!</h1>
        <div class="login-signup">
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        </div>

    </div>

</body>
</html>