<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your VERY OWN Diary!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
    <br>
    <h3><i class="fas fa-book-reader"></i> Google Login</h3>



<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Log In With Google
    </a>
    <br>

</div>
</body>
</html>