<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="container">Create Your VERY OWN Todolist! </h1>
    <h2 class="container">(Now with timer)</h2>
    <a class= "container panel styled moveit" href="/login"> Login</a>
    <a class= "container panel styled moveit" href="/signup"> Signup</a>
</body>
</html>