<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HitList 2.0</title>
</head>
<body>
    <header class="master">
        <h1>Create Your very own Networking for Coffee Chats and HitList!</h1>
    </header>

    <a href="/login" class="loginbutton"> Login</a>
    <a href="/signup"class="loginbutton"> Signup</a>
</body>
</html>