<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <title>Story Books</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">


</head>
<body>
    
    <header>
        <nav>
            <ul>
                <img src="/icons/icon.svg" alt="">
                <li><a href="">Log-in</a></li>              
            </ul>         
        </nav>
    </header>

    <main class="flex-container">
        <section>
            <img src="/img/mainLogo.svg" class="logo" alt="">
            <h1>RecipeBooks</h1>
            <p>Create a free account, or sign in to get started</p>
            <a href="#" class="sign-up">Sign Up</a>
        </section>
    </main>
</body>
</html>