<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>Todo</h1>
        <nav>
            <ul class="nav__links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Add</a></li>
            </ul>
        </nav>
        <a href="/signup"><button>Signup</button></a>
        <a href="/login"><button>Login</button></a>
    </header>
</body>
</body>

</html>