<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Create Your VERY OWN Todolist!</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam labore eos officiis iure repudiandae? Aut libero ut est, enim adipisci soluta rem nulla odit aliquid quisquam obcaecati et quos optio ullam harum itaque porro nesciunt.</p>
                <div class="d-grid justify-content-sm-center">
                    <a href="/login" class="btn btn-primary btn-lg px-4 gap-3">Login</a>
                    <a href="/signup" class="btn btn-outline-primary g-2 btn-lg px-4">Signup</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>