<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Bill Tracker</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img class="responsive-img" src="/assets/bill_tracker_logo_small.png"></a>
            <ul class="right">
                <li><a class="waves-effect waves-light btn" id="signup-btn" href="/signup">Signup</a></li>
                <li><a class="waves-effect waves-light btn" href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <section class="section container homepage"> 
        <div class="row inIndex">
            <div class="col s12 l6">
              <h1 class="billTracker-header">Welcome to <span class="index-header-span">Bill Tracker!</span></h1>
                <p class="index-header">Looking to keep track of your bills?</p>
                <p class="index-header">Bill Tracker is the app for you!</p>
            </div>
            <div class="col s12 l6 offset-12">
                <img class="responsive-img indexImage" src="/assets/bill_tracker_logo.png" alt="Bill Tracker Logo">
            </div>
    </div>
    </section>  
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>