<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>LISTIFY</title>
  </head>
  <body class="index-screen background-img">
    <div class="index-container card">
      <div class="card-body text-center">
        <%- include('./partials/logo'); %>
        <h6 class="card-subtitle mb2 text-muted">
          Create your own personalized to-do list!
        </h6>
        <div class="d-flex flex-column">
          <a
            href="/login"
            class="btn btn-primary m-1 mt-2"
            >Login</a
          >
          <a
            href="/signup"
            class="btn btn-primary m-1"
            >Signup</a
          >
        </div>
      </div>
    </div>
    <%- include('./partials/bootstrap-script'); %>
  </body>
</html>
