<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body class="landing-page">
    <section class="landing-page__main">
        <h1 class="landing-page__title">Create Your VERY OWN Todolist!</h1>
        <a class="landing-page__link link" href="/login"> Login</a>
        <a class="landing-page__link link" href="/signup"> Signup</a>
    </section>
</body>
</html>