<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>ToDo List</title>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/9f91d488b5.js" crossorigin="anonymous"></script>
    <!-- Styles -->
 
    <link rel="stylesheet" href="css/style.css">
</head>
<header>
    <div>
        <a href="https://github.com/neverarockstar/todo-mvc-auth-local" class="github-link"><i class="fa-brands fa-github fa-2xl fa-flip" style="--fa-animation-duration: 5s;"></i></a>
    </div>
</header>
<body class="body index-body">
    <div class="login-signup-section">
        <h1 class = "index-header">SUPER AMAZING TODO APP 3000</h1>
        <div class="login-signup">
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        </div>
    </div>

</body>
</html>