<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <title>Our To Do List</title>
</head>
<body>


    <div class="index-container">
        <div class="top-half">
            <h1>Our To Do List</h1>
            <span>Roomies that Do together, stay together.</span>
        </div>
        
        <div class="bottom-half">
            <div class="left-half">
                <a href="/login" class="index"> Login</a>
            </div>
            <div class="right-half">
                <a href="/signup" class="index"> Signup</a>
            </div>
        </div>
    </div>
    
    
</body>
</html>