<div class="index auth-cards row">
    <div class="card col s12 m6 offset-m3 index-card ">
        <div class="card-content center">
            <h1>100Devs Budget Tracker</h1>
        </div>
         <div class="section center">
            <p class="lead">Create Your VERY OWN Budget Tracker!</p>
        </div>
        <div class="divider"></div>
        <div class="section center row">
            <a class='waves-effect waves-light btn green darken-2  ' href="/login"> Login</a>
            <a class='waves-effect waves-light btn red darken-1  ' href="/signup"> Signup</a>
        </div>
    </div>
</div>


    
