<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>The Ultimate List</title>
</head>
<body>
    <!-- Are we adding a navbar? -->
    <div class="main">
        
        <!-- <section class="hero"> -->
            <div class="container">
                <!-- <img src="./23761052_6857256 copy.jpg" width="300px" alt=""> -->
            </div>
            <section class="details">
                <h1>The Ultimate List</h1>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt error assumenda deleniti, vitae sequi
                    excepturi?</p>
                    
                    <div class="content">
                        <a href="login" class="btn"> Login</a>
                        <a href="signup" class="btn"> Signup</a>
                    </div>
                </section>
            </div>
            <!-- <button href="/login"> Login</button>
                <button href="/signup"> Signup</button> -->

    </body>
</html>