<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrapper fadeInDown">
      <h1>To Do List</h1>
      <div id="formContent">
        <!-- Login Buttons -->
        <a href="/login"><input href="/login" type="button" class="fadeIn fourth" value="Log In"></a>
        <a href="/signup"><input type="button" class="fadeIn fourth" value="Signup"></a>
      </div>
    </div>
</body>


</html>