<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <!-- <link href="/output.css" rel="stylesheet" /> -->
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="main">
      <div class="container">
        <h1 class="underline text-black text-2xl font-medium">
          Rockband Title Here
        </h1>
        <hr />
        <div class="linkContainer">
          <a href="/login"> Login</a>
          <a href="/signup"> Signup</a>
        </div>
      </div>
    </div>
  </body>
</html>
