<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>

		<title>Homework Bound</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->

						<h1><a href="index.html">Homework Bound</a></h1>
                        <br>
					<!-- Intro -->
                    <section id="intro" class="container">
                        <div class="row">
                            <div class="col-4 col-12-medium">
                                <section class="first">
                                    <i class="icon solid featured alt2 fa-star"></i>
                                    <header>
                                        <h2>Add Your Own Assignments</h2>
                                    </header>
                                    <p>Students can sign in to independently add their own classroom assignments to their unique homework tracker.</p>
                                </section>
                            </div>
                            <div class="col-4 col-12-medium">
                                <section class="middle">
                                    <i class="icon solid featured fa-cog"></i>
                                    <header>
                                        <h2>Mark Assignments as Completed</h2>
                                    </header>
                                    <p>Students can click on the assignment to mark it as completed.</p>
                                </section>
                            </div>
                            <div class="col-4 col-12-medium">
                                <section class="last">
                                    <i class="icon solid featured alt fa-bolt"></i>
                                    <header>
                                        <h2>Delete Assignments</h2>
                                    </header>
                                    <p>Students can remove outdated or finished assignments by clicking the trash can icon.</p>
                                </section>
                            </div>
                        </div>
					</section>

					<!-- Banner -->
						<section id="banner">
							<header>
                                <h2>Create Your VERY OWN Homework Tracker!</h2>
                                <ul class="actions">
									<!-- change from /login to /localLogin or something -->
									<li><a href="/login" class="button large">Login</a></li>
									<!-- add in google login button with a link /googleLogin-->
									<li><a href="/signup" class="button large">Signup</a></li>
								</ul>
							</header>
						</section>
						</section>

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">

											<li>&copy; 
                                                <a href="https://github.com/JulienMellon">Julien Mellon</a>,
                                                <a href="https://github.com/jaclynbrothers">Jaclyn Brothers</a>,
                                                <a href="https://github.com/gaildev10">Gail Giles</a>,
                                                <a href="https://github.com/mathung">Matt Hung</a>,
                                                <a href="https://github.com/ztlaw">Walt Lungan</a>,
                                                <a href="https://github.com/phuphaju">Nischaya Khatiwada</a>, & 
                                                <a href="https://github.com/neffcodes">James Neff</a>. All rights reserved. Template Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>