<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home">
    <h1 class="h1">Create Your VERY OWN Happy Notes!</h1>
    <section class="login">
        <button class="button-left"><a href="/login" class="login-button"> Login</a></button>
        <button class="button-right"><a href="/signup" class="login-button"> Signup</a></button>
    </section>
  
</body>
</html>