<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title>HitList 2.0</title>
</head>
<body>
    <header class="master">
        <h1>Create Your very own Networking for Coffee Chats and HitList!</h1>
    </header>

    <a href="/login" class="loginbutton"> Login</a>
    <a href="/signup"class="loginbutton"> Signup</a>
</body>
</html>