<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>The Ultimate List</h1>
        
        <!-- Are we adding a navbar? -->
        
        <section class="hero">
            <div class="container">
                <img src="../public/image/23761052_6857256.jpg" alt="">
            </div>
            <section class="details">
                <h1>Welcome to our awesome trello for books - placeholder text </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, at.</p>
                <div class="content">
                    <a href="#login" class="btn"> Login</a>
                    <a href="#signup" class="btn"> Signup</a>
                </div>
            </section>
        </section>
    <!-- <button href="/login"> Login</button>
    <button href="/signup"> Signup</button> -->
</body>
</html>