<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQUAWKER</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <h1>SQUAWKER</h1>
    <div class="container mx-auto w-1/2 bg-blue-300 rounded-xl p-4 shadow-xl content-center justify-center flex items-baseline my-10">
        <div class="container mx-auto w-1/2 flex">
            <p>Squawk at the world!</p>
        </div>
        <div class="container mx-auto w-1/2 flex justify-evenly">
            <a href="/login"><div class="container mx-auto p-2 bg-green-100 rounded border border-black"><p>Login</p></div></a>
            <a href="/signup"><div class="container mx-auto p-2 bg-blue-100 rounded border-black border"><p>Signup</p></div></a>
        </div>
    </div>
</body>
</html>
