<%- include('partials/head.ejs', {title:"Home"}) %>

    <h1>Create Your VERY OWN Todolist!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>

        <!-- this javascript must not depend on bootstrap -->
        <script src="" async defer></script>


<%- include('partials/footer.ejs') %>
