<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myList</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="app-container">
        <h1>Welcome to myList! <br>Your personal to do list app.</h1>
        <h2>Please log in or sign up to continue.</h2>
        <div>
            <a href="/login"> Log in</a>
            <a href="/signup"> Sign up</a>
        </div>
    </section>
</body>
</html>