<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowMe</title>
    <script src="https://kit.fontawesome.com/b180e6371d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="logo"><a href="/">ShowMe</a></li>
            <li class="menu-item"><a href="/todos">Watchlist</a></li>
            <li class="menu-item button"><a href="/login">Log In</a></li>
            <li class="menu-item button secondary"><a href="/signup">Sign Up</a></li>
            <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>
    <h1>Create Your VERY OWN TV Show Watchlist!</h1>
    <h2>Chels</h2>
    <h2>Izra :( :(</h2>
    <h2>Sean</h2>
    <h2>Kelvin :)</h2>
    <h2>Riju :)</h2>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>