<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <title>Yay!</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>

    <h3>This area will test pulling up the gear</h3>

    <ul>
      <% gears.forEach( el => { %>
      <li class="gearItem" data-id="<%=el._id%>">
        <% %>
        <span><%= el.gearName %></span>
        <span><%= el.gearBrand %></span>
      </li>
      <% }) %>
    </ul>
  </body>
</html>

<!-- 
gearName
gearBrand
gearPrice
gearCondition
gearNote
dateAdded
visibility // public/private
userId -->

<!-- Login -> Dashboard
           -> Signup

Signup -- Signup, than return to Login

Dashboard -> Public Wishlist
          -> Personal Wishlist
          -> Add gear to Wishlist

Public Wishlist -- Display all public wishlisted items
Personal Wishlist -- Display all private and public wishlisted items from the logged in user
Add Gear -- Add gear, than return to Dashboard -->
