<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>LISTIFY | LOGIN</title>
  </head>
  <body class="index-screen background-img">
    <div class="login-container card">
      <div class="card-body">
        <h2 class="card-title text-center">Log In</h2>
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => {
        %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %>
        <form
          action="/login"
          method="POST"
        >
          <div class="d-flex flex-column">
            <label for="inputEmail">Email address</label>
            <input
              id="inputEmail"
              type="email"
              name="email"
              placeholder="Enter email"
              class="form-control"
            />
            <label for="inputPassword">Password</label>
            <input
              id="inputPassword"
              type="password"
              name="password"
              placeholder="Enter password"
              class="form-control"
            />
            <input
              type="submit"
              class="btn btn-primary mt-2"
            />
          </div>
        </form>
      </div>
      <div class="card-body text-center border-top">
        New to Listify? <a href="/signup">Sign Up</a>
      </div>
    </div>
  </body>
</html>
