<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos MVC | Login</title>
</head>
<body> -->

    <%-include('header')-%>
    
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    


    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                 <h2 class="font-weight-bold">Login System</h2>
                 <span>Log in for the existing user</span>
            </div>
            <form action="/login" method="POST" class="pt-3">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" name="email">
                    <!-- <small class="form-text text-muted text-start"><a href="/signup">Register email address</a></small> -->
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <button type="submit" class="btn btn-success rounded-pill">Submit</button>
            </form>
        </div>
    </div>

    <!-- <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit">
    </form> -->

    <%-include('footer')-%>
<!-- </body>
</html> -->