<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/login.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Main container - no touchy -->
    <div class="container">
      <div class="bg-guitar w-screen h-screen bg-no-repeat bg-center bg-cover">
        <div class="flex flex-col justify-center items-center h-full w-full">
          <div class="flex flex-col items-center translate-y-20">
            <span
              class="text-9xl uppercase font-londrina font-bold text-white -rotate-[20deg] -translate-x-8"
              >Gear</span
            >
            <span
              class="text-9xl font-love text-white font-bold -translate-y-24 translate-x-16 -rotate-[20deg]"
              >wish</span
            >
          </div>

          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el =>
          { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %>
          <div class="container">
            <div class="flex flex-col items-center">
              <div
                class="bg-[rgb(0,0,0,.7)] flex flex-col rounded-[50px] items-center justify-center w-5/6 max-w-md h-96 px-1 py-10"
              >
                <form
                  action="/login"
                  method="POST"
                  class="flex flex-col h-2/3 w-5/6"
                >
                  <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    autocomplete="off"
                    class="placeholder:text-lg placeholder:text-gray-300 placeholder:text-center h-10 w-full rounded-[13px] mb-3 font-krona uppercase"
                  />
                  <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    autocomplete="off"
                    class="placeholder:text-lg placeholder:text-gray-300 placeholder:text-center h-10 w-full rounded-[13px] mb-6 font-krona uppercase"
                  />
                  <input
                    type="submit"
                    value="Login"
                    class="submit text-gray-400 text-lg font-krona bg-black w-full h-12 rounded-[13px] flex flex-col items-center justify-center"
                  />
                </form>
                <!--Sign up section -->
                <div class="flex flex-col items-center">
                  <h3 class="text-white text-sm font-krona mb-3">
                    Don't have an account?
                  </h3>
                  <div
                    class="text-white text-4xl font-long w-full h-12 bg-[#420000] rounded-[13px] flex items-center justify-center"
                  >
                    <a href="/signup" class="uppercase"> Sign up </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Title section -->
    </div>
  </body>
</html>
