<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <main>
        <section class="signInPhotoContainer">
        </section>
        <section class="signInContainer">
            <div class="lockContainer">
                <span class="material-symbols-outlined lock">lock</span>
                <h2 class="signIn">Log in</h2>
            </div>
            <div class="signFormContainer">
                <form action="/login" method="POST">
                    <input class="formInput email" type="email" name="email" placeholder="Email">
                    <input class="formInput password" type="password" name="password" placeholder="Password"><br>
                    <!-- <input class="submitInput" type="submit" class="submitLogin"> -->
                </form>
            </div>
            <div class="">
                <input class="submitInput" type="submit" class="submitLogin">
                <h3 class="sighUpText">No account? Sign up <a href="/signup">here</a>.</h3>
            </div>
        </section>
    </main>
</body>
</html>