<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META TAGS-->

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Squish</title>

    <!-- LINKS -->

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- SCRIPTS -->

    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="./public/js/menu.js"></script>
  </head>
  <body>
    <!-- HAMBURGER MENU -->
    <div class="menu-container">
      <div class="menu-wrapper">
        <div id="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- hamburger-menu -->
      </div>
      <!-- menu-wrapper -->

      <ul class="menu-list accordion">
        <li class="accordion-toggle nav1">
          <a class="menu-link" href="/views/index.ejs">Home</a>
        </li>
        <li class="accordion-toggle nav2">
          <a class="menu-link" href="/views/dashboard.ejs">Dashboard</a>
        </li>
        <li class="toggle accordion-toggle nav3">
          <a class="menu-link" href="/views/entry.ejs">Journal</a>
        </li>
        <li class="toggle accordion-toggle nav4">
          <a class="menu-link" href="/logout">Logout</a>
        </li>
        <li class="toggle accordion-toggle nav5">
          <a class="menu-link" href="#">Logout</a>
        </li>
      </ul>
    </div>

    <!-- LOGIN BODY -->

    <!--ICON-->
    <div class="icon">
      <img src="logo.png" alt="squish-icon" />
    </div>

    <!-- LOGIN -->

    <div class="cardContainer">
      <div class="card">
        <div class="cardFront">
          <div class="formTitle">
            <h2>Login</h2>
          </div>

          <form
            action="/login"
            method="POST"
            autocomplete="off"
            class="loginForm"
          >
            <div class="loginFormInput">
              <iconify-icon icon="bx:at"></iconify-icon>

              <input
                type="email"
                name="email"
                id=""
                placeholder="Your Email"
                class="homeFormBox"
              />
            </div>

            <div class="loginFormInput">
              <iconify-icon icon="bx:lock"></iconify-icon>

              <input
                type="password"
                name="password"
                id=""
                placeholder="Your Password"
                class="homeFormBox"
              />
            </div>

            <div class="loginBtns">
              <a class="homeFormBtn" href="/signup">Signup</a>
              <input type="submit" value="Login" class="homeFormBtn" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
