<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Reset Password</title>
</head>

<body class="index">
    <div class="container signup">
        <h1>Reset Password</h1>
        <div>Enter your email below and click submit to receive a password reset link to the email on file.</div>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el=> { %>
                <div class="alert alert-danger">
                    <%= el.msg %>
                </div>
                <% }) %>
                    <% } %>
                        <form class="formstyle" action="/recover" method="POST">
                            <input type="email" name="email" placeholder="Email">
                            <input id="submitbutton" type="submit">
                        </form>
                        <a href="/login">Return to login</a>
    </div>
</body> 

</html>