<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>sendfeedback</h1>
    <p>TODO: Map out data with better CSS / Formatting</p>

    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Message</th>
      </tr>
      <% test.forEach(el => { %>
      <tr>
        <td><%= el.name %></td>
        <td><%= el.email %></td>
        <td><%= el.phone %></td>
        <td><%= el.message %></td>
      </tr>

      <% }) %>
    </table>
  </body>
</html>
