<%- include('./partials/header') -%>
<div class="wrapper d-flex flex-column justify-content-center align-items-center">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger w-min"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <section class="w-min d-inline-block shadow-lg px-3 py-5 rounded-2">
        <form action="/signup" method="POST" class="signup-form d-flex flex-column align-items-center gap-2">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="billybobthortin" class="input-group-text w-100" id="username">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="example@ex.com" class="input-group-text w-100" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" class="input-group-text w-100" id="password">
            <label for="cPass">Confirm Password</label>
            <input type="password" name="confirmPassword" class="input-group-text w-100" id="cPass">
            <button class="btn btn-primary">Signup!</button>
        </form>
    </section>
</div>
<%- include('./partials/footer') -%>
