<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>To Don't List : Signup</title>
</head>

<body>
    <section class="container">
        <h1 class="signup__title">Create Account</h1>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger">
                    <%= el.msg %>
                </div>
                <% }) %>
                    <% } %>
                        <div class="form__box">
                            <form action="/signup" method="POST">

                                <label for="username">Username:</label>
                                <input type="text" name="userName">

                                <label for="email">Email:</label>
                                <input type="email" name="email">

                                <label for="password">Password:</label>
                                <input type="password" name="password">

                                <label for="confirmPassword">Confirm Password:</label>
                                <input type="password" name="confirmPassword">
                                <div class="submit__flex">
                                    <input type="Submit" value="Signup" class="submit__button">
                                </div>

                            </form>
                        </div>

    </section>

</body>

</html>