<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="wrapper fadeInDown">
        <div id="formContent2">
            <a href="/login"><h2 class="inactive underlineHover"> Sign In </h2></a>
            <a href="/signup"><h2 class="active">Sign Up </h2></a>
            <form action="/signup" method="POST">
                <!-- <input type="text" id="login" class="fadeIn second" name="firstName" placeholder="First Name">
                <input type="text" id="login" class="fadeIn second" name="lastName" placeholder="Last Name"> -->
                <input type="text" name="userName" placeholder="User Name">
                <input type="email" id="login" class="fadeIn second" name="email" placeholder="Email">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
                <input type="password" id="password" class="fadeIn third" name="confirmPassword" placeholder="Confirm">
                <input type="submit" class="fadeIn fourth" >
            </form>
            <!-- <h3>Existing user?</h3> -->
            <a href="/login">Already have an account? Sign in</a>
            <!-- <a href="/signup">Forgot Password?</a>      --Fixed link to login  -->

            <!-- 
            <form action="/signup" method="POST">
                <input type="text" name="userName" placeholder="User Name">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirmPassword" placeholder="Confirm Password">
                <label>Security Question
                    <select name="secQuestion">
                        <option value="" selected>Please Select a Question</option>
                        <option value="What is the name of your first pet?">What is the name of your first pet?</option>
                        <option value="Who was your childhood best friend?">Who was your childhood best friend?</option>
                        <option value="What is your favourite film/show/book">What is your favourite film/show/book</option>
                    </select>
                </label>
                <input type="text" name="qAnswer" placeholder="answer">
                <input type="submit">
            </form>
        
            <h3>Existing user?</h3>
            <a href="/login">Sign in</a> -->
        </div>
    </div>

</body>
</html>