<!DOCTYPE HTML>
<!--
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Cent Sense</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload left-sidebar">
		<!-- error messages -->
		<% if (locals.messages.errors) { %>
			<% messages.errors.forEach( el => { %>
				<div class="alert alert-danger"><%= el.msg %></div>
			<% }) %>    
		<% } %>

		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="index.html">Cent Sense</a></h1>
								<span>Where every penny counts</span>
							</div>

						<!-- Nav -->
								<nav id="nav">
									<ul>
										<li><a href="/">Welcome</a></li>
										<li ><a href="/login">Log In</a></li>
										<li class="current"><a href="/signup">Sign Up</a></li>
									</ul>
								</nav>
	

					</header>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-medium">
								<div id="sidebar">

									<!-- Sidebar -->
										<section>
											<h3>Sign Up</h3>
											<p>     <form action="/signup" method="POST">
												<input type="text" name="userName" placeholder="User Name">
												<input type="email" name="email" placeholder="Email">
												<input type="password" name="password" placeholder="Password">
												<input type="password" name="confirmPassword" placeholder="Confirm Password">
												<input type="submit">
											</form></p>
										</section>

								</div>
							</div>
							<div class="col-8 col-12-medium imp-medium">
								<div id="content">

									<!-- Content -->
										<article>

											<h2>Hello!</h2>

											<p>We're glad that you're joining the Cent Sense community!</p>

										</article>

								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">

						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Cent Sense. All rights reserved</li><li>Design: 173 Beans & <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>