<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a2f02755e4.js" crossorigin="anonymous"></script>
    <link 
        rel="stylesheet" 
        href="css/style.css"
    >
    <title>Register</title>
</head>
<body>
    <!-- App Header & Navbar -->
    <header class="header">
        <a class="header--linkLogo" href="/"><i class="header--logo fa-solid fa-circle-check"></i></a>
        <h3 class="header--appName">Huntober App Name</h3>
        <i class="nav--hambrgBtn fa-solid fa-bars"></i>
        <nav class="nav">
            <ul class="nav--list">
                <li class="nav--listItems"><a class="btn--primary" href="/login"> Login</a></li>
                <li class="nav--listItems"><a class="btn--secondary" href="/signup"> Signup</a></li>
            </ul>
        </nav>
    </header>

    <section class="loginFormArea">
        <section class="registrationCard">
            <h2 class="registrationCard--title">Sign up with Email</h2>

            <section class="registrationCard--alert">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
            </section>

            <form class="registrationCard--form" action="/signup" method="POST">
                <label for="userName">Username</label>
                <input class="registration--inpt" type="text" name="userName" placeholder="User Name">
                <label for="email">Email address</label>
                <input class="registration--inpt" type="email" name="email" placeholder="Email">
                <label for="password">Password</label>
                <input class="registration--inpt" type="password" name="password" placeholder="Password">
                <label for="confirmPassword">Confirm Password</label>
                <input class="registration--inpt" type="password" name="confirmPassword" placeholder="Confirm Password">
                <input class="registration--btn" type="submit" value="Sign Up" >
            </form>

            <section class="registrationCard--navigate">
                <p>Already have an account? <a href="/login">Sign in</a></p>
            </section>

        </section>
    </section>

    <script src="js/main.js"></script>
</body>
</html>