<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/loginStyle.css">
    <title>Happy Notes</title>
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
          <form action="/signup" method="POST">
            <input type="text" name="userName" placeholder="User Name" required="required" />
            <input type="email" name="email" placeholder="Email" required="required" />
            <input type="password" name="password" placeholder="Password" required="required" />
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
          </form>
      </div>
</body>
</html>