<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactr</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1><%= user.userName %>'s Contactr</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2>Add A Company</h2>

    <form action="/todos/createTodo" method='POST'>
        <h3>Job Description</h3>

        <label for="companyName">Company Name:</label>
        <input type="text" placeholder="Company Name" id="companyName">

        <label for="dateAdded">Date Added:</label>
        <input type="date" placeholder="Date Added" id="dateAdded">

        <label for="url">URL</label>
        <input type="text" placeholder="URL" id="url">

        <label for="roleURL">Role URL:</label>
        <input type="text" placeholder="Role/Position URL" id="roleURL">

        <label for="position">Position:</label>
        <input type="text" placeholder="Type of Position" id="posiiton">

        <label for="source">Source:</label>
        <input type="text" placeholder="Source" id="source">

        <h3>Point of Contact</h3>

        <label for="pocName">Name of Contact:</label>
        <input type="text" placeholder="Name of Contact" id="pocName">

        <label for="pocPosition">Position of Contact:</label>
        <input type="text" placeholder="Position of Contact" id="pocPosition">

        <label for="pocEmail">Email of Contact:</label>
        <input type="email" placeholder="Email of Contact" id="pocEmail">

        <h3>Application</h3>

        <input type="checkbox" placeholder="Applied?" id="applied">
        <label for="Applied?">Applied?</label>
        
        <label for="applyDate">Application Date:</label>
        <input type="date" placeholder="Date you applied" id="applyDate">

        <input type="checkbox" id="coffeeChat">
        <label for="CoffeeChat">Coffee Chat?</label>

        <label for="coffeeChatDate">Coffee Chat Date:</label>
        <input type="date" id="coffeeChatDate">

        <input type="checkbox" id="saidThanks">
        <label for="saidThanks">Said Thanks?</label>

        <label for="interviewDate">Interview Date:</label>
        <input type="date" id="interviewDate">

        <label for="followUpDate">Follow-Up Date:</label>
        <input type="date" id="followUpDate">

        <label for="comments">Comments:</label>
        <input type="text" placeholder="Comments" id="comments">




        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>