<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a2f02755e4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- App Header & Navbar -->
    <header class="header">
        <a class="header--linkLogo" href="/"><i class="header--logo fa-solid fa-circle-check"></i></a>
        <h3 class="header--appName">Huntober App Name</h3>
        <i class="nav--hambrgBtn fa-solid fa-bars"></i>
        <nav class="nav">
            <ul class="nav--list">
                <li class="nav--listItems"><a class="btn--secondary" href="/logout"> Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="calendar">

        <div class="col leftCol">
            <div class="content">
                <h1 class="selected-day">Friday</h1>
                <h1><span class="month-day">September 12th</span></h1>
                <div class="notes">
                   <!-- are they able to add to the list? -->
                    <form action="/todos/createTodo" method="POST">
                        <input class="todo--task animate" type="text" name="task" placeholder="Add new task"/>
                        <label class="todo--label" for="startTime">Start</label>
                        <input class="todo--input__date animate" type="time" name="startTime"/>
                        <label class="todo--label" for="endTime">End</label>
                        <input class="todo--input__date animate" type="time" name="endTime"/>
                        <!-- these hidden input contain the day and month data that will get stored in the database so we can filter the tasks by month and day -->
                        <!-- these input values changed based on month and day that are selected -->
                        <input type="hidden" name="day" class="dbDay" value=""  />
                        <input type="hidden" name="month" class="dbMonth" value=""  />
                        <button type="submit" href="#" title="Add note" class="addNote animate">+</button>
                    </form>
                    
                    <!-- add todo list functionaliliy -->
                    <ul class="taskList">

                    </ul>
                </div>
            </div>
        </div>

        <div class="col rightCol">
            <div class="content">
                <h2 class="year">2022</h2>
                <ul class="months" id="months">
                    <li><a href="#" title="Jan" data-value="1">Jan</a></li>
                    <li><a href="#" title="Feb" data-value="2">Feb</a></li>
                    <li><a href="#" title="Mar" data-value="3">Mar</a></li>
                    <li><a href="#" title="Apr" data-value="4">Apr</a></li>
                    <li><a href="#" title="May" data-value="5">May</a></li>
                    <li><a href="#" title="Jun" data-value="6">Jun</a></li>
                    <li><a href="#" title="Jul" data-value="7">Jul</a></li>
                    <li><a href="#" title="Aug" data-value="8">Aug</a></li>
                    <li><a href="#" title="Sep" data-value="9" class="selected">Sep</a></li>
                    <li><a href="#" title="Oct" data-value="10">Oct</a></li>
                    <li><a href="#" title="Nov" data-value="11">Nov</a></li>
                    <li><a href="#" title="Dec" data-value="12">Dec</a></li>
                </ul>
                <div class="clearfix"></div>
                <ul class="weekday">
                    <li><a href="#" title="Mon" data-value="1">Mon</a></li>
                    <li><a href="#" title="Tue" data-value="2">Tue</a></li>
                    <li><a href="#" title="Wed" data-value="3">Wed</a></li>
                    <li><a href="#" title="Thu" data-value="4">Thu</a></li>
                    <li><a href="#" title="Fri" data-value="5">Fri</a></li>
                    <li><a href="#" title="Say" data-value="6">Sat</a></li>
                    <li><a href="#" title="Sun" data-value="7">Sun</a></li>
                </ul>
                <div class="clearfix"></div>
                
                <!--calendar functionality -->
                <ul class="days" id="days">
                    <% for(let i = 0; i<= 31; i++) {%>
                      <%  var _addClass = '' %>
                      <% if(i === 12){_addClass = "selected"} %>
                      <li class="day"><a href="#" title=<%= i %> data-value=<%= i %> class=<%= _addClass %>> <%= i %></a></li>
                      <% } %>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>
    <script src="js/main.js"></script>
</body>
</html>