/*  font-family: 'Krona One', sans-serif;

    font-family: 'Londrina Shadow', cursive;

    font-family: 'Long Cang', cursive;

    font-family: 'Love Light', cursive;

*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Londrina+Shadow&family=Long+Cang&family=Love+Light&display=swap');

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    font-style: inherit;
}

.no-click {
    pointer-events: none;
}