@import './index.css';

form {
	display: flex;
	flex-direction: row;
	align-items: center;
}
input {
	padding: 15px;
	margin: 0px 3px;
}
input::placeholder {
	font-size: 20px;
	text-transform: uppercase;
}

.submit {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	height: 50px;
}
.navLinks {
	margin-top: 30px;
	width: fit-content;
	/* height: 20px; */
}
.navLinks:hover a {
	background-color: teal;
    color: black;
    border: 2px solid lavender;
}
.accountMessage {
	margin: 25px 0px 8px 0px;	
}
.backButton {
	background-color: black;
	color: white;
	padding: 3px 50px;
	border-radius: 6px;
	font-size: 20px;
	width: fit-content;
	text-transform: uppercase;
}
.submit {
	background-color: black;
	color: white;
	border-radius: 6px;
	cursor: pointer;
}
.submit:hover {
	background-color: teal;
    color: black;
    border: 2px solid lavender;
}
.signUp {
	font-size: 20px;
	height: 10px;
	color: teal;
}