* {
    color: gainsboro;
}
h1{
    color: teal;
}
ul {
    list-style-type: none;
    border: 1px solid gainsboro;
}
li {
    border: 1px solid gainsboro;
}
form textarea{
    width: 97vw;
    background: black;
}
input[type="submit"], button {
    background: teal;
    color: gainsboro;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
body {
    background: black;
}