/*******************************/
/*****  GENERAL STYLING  *******/
/*******************************/

    /* Color Scheme */
    /* Light green - #9dca95 */
    /* Light blue - #89c1e8 */
    /* Dark blue - #5e95c7 */
    /* Grey - #EEEDE9 */
    /* White - #FFFFFF */
    /* Black - #000000 */



/* not required */
*,:active{
	outline: none;
}

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	/* Commented margin out as it impacts index.ejs, login.ejs & signup.ejs */
	/* margin: 20px; */
	background-color: #EEEDE9;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 96.5%;
	font-family: Helvetica, Arial, sans-serif;
}

input{
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #FF462B;
}

.clearfix{
	clear: both;
}

.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*******************************/
/****  COMPONENT STYLING  ******/
/*******************************/
/* Nav Bar */
.header {
	height: 75px;
	width: 100vw;
	padding: 0.5rem 1.75rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFFFFF;
	background-color: #5e95c7;
}
.header--logo {
	font-size: 22.5px;
	margin-right: 1.25rem;
}
.header--appName {
	margin: 0;
	margin-right: auto;
}
.nav--listItems {
	margin-left: 1.25rem;
	display: inline-block;
}

/* Primary Buttons */
.btn--primary {
	width: 145px;
	height: 45px;
	padding: 8px 30px;
	text-decoration: none;
	color: #000000;
	background: #FFFFFF;
	border: 2px solid #9dca95;
	border-radius: 4px;
}

/* Secondary Buttons */
.btn--secondary {
	width: 85px;
	height: 45px;
	padding: 8px 30px;
	text-decoration: none;
	color: #000000;
	background: #9dca95;
	border: 2px solid #9dca95;
	border-radius: 4px;
}


/*******************************/
/****  MAIN PAGES STYLING  *****/
/*******************************/
/* Landing Page */
.heroSection {
	height: 82.5vh;
	padding: 10vh 12.5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid red; */
}
.heroSection__right {
	margin-left: auto;
}
.heroSection--text {
	margin-bottom: 3.5rem;
}
.heroSection--title {
	font-size: 40px;
}
.heroSection--subTitle {
	font-size: 20px;
}
.registration--btns > .btn--primary {
	margin-right: 1rem;
}
.heroSection--logo {
	max-width: 300px;
}
.footer {
	margin: 1vh 5.5vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	border-top: 1px solid #74797865;
}

/* Login & Signup Page */
.loginFormArea {
display: flex;
justify-content: center;
align-items: center;
padding-top: 12.5vh;
}
.registrationCard {
min-width: 300px;
}
.registrationCard--title {
font-weight: 400;
padding-bottom: 32px;
margin: 0;
}
.registrationCard--form input {
display: block;
margin-top: 8px;
margin-bottom: 24px;
}
.registration--inpt {
padding: 10px 5px;
width: 300px;
border: 2px solid #9dca95;
border-radius: 4px;
}
.registration--btn {
padding: 10px 2px;
width: 300px;
background-color: #9dca95;
color: #FFFFFF;
border: 1px solid #9dca95;
border-radius: 4px; 
}
.registrationCard--navigate a {
color: #5e95c7;
text-decoration: none;
}

/* ####### Media Queries ####### */
@media screen and (max-width: 835px) {
	.heroSection {
			display: block;
			text-align: center;
			padding-top: 6vh;
	}
	.heroSection--logo {
			margin-bottom: 5vh;
	}
	.nav--list {
			display: none;
	}
}

/*******************************/
/********  APP STYLING  ********/
/*******************************/


/* required */
.calendar{
	position: absolute;
	border-radius: 4px;
	overflow: hidden;
	width: 800px;
	height: 450px;
	left: 50%;
	margin-left: -400px;
	margin-top: -225px;
	top: 50%;
	background-color: #ffffff;
	color: #333333;
}

.calendar h1, .calendar h2{
	font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0px 0px 5px 0px;
}

.calendar h1 span{
	display: block;
}

.calendar .col{
	position: relative;
	float: left;
	height: 100%;
}

.calendar .col .content{
	padding: 40px;
}

.calendar ul{
	margin: 0px;
}

.calendar ul li{
	list-style: none;
}

.calendar .leftCol{
	width: 40%;
	background-color: #F48989;
}

.calendar .noteList li{
	color: #ffffff;
	margin: 10px 0;
}

.calendar .notes input,
.calendar .noteList li{
	font-weight: 300;
	font-size: 14px;
}

.calendar .notes form{
	border-bottom: solid 1px rgba(255,255,255,0.4);
}

.calendar .notes button{
	background: transparent;
	border: none;
	outline: none;
}

.calendar .notes input{
	background-color: #F48989;
	color: #ffffff;
	border: none;
	width: 200px;
}

.calendar .addNote,
.calendar .removeNote{
	float: right;
	color: rgba(255,255,255,0.4);
	font-weight: bold;
	margin-left: 20px;
}

.calendar .addNote:hover,
.calendar .removeNote:hover{
	color: #ffffff;
}

.calendar .addNote{
	font-size: 16px;
}

.calendar .leftCol h1{
	color: #ffffff;
}

.content .month,
.content .day{
	color: #ffffff;
	font-weight: 300;
	font-size: 26px;
}

.content .monthAndDay{
	margin-bottom: 10px;
}

.calendar .rightCol{
	width: 60%;
}

.calendar .rightCol h2{
	color: #C7BEBE;
	text-align: right;
	margin-bottom: 70px;
}

.calendar .months li,
.calendar .weekday li,
.calendar .days li{
	float: left;
	text-transform: uppercase;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a{
	display: block;
	color: #747978;
}

.calendar .months li a{
	font-size: 10px;
	color: #C7BEBE;
	text-align: center;
	width: 32px;
	margin-bottom: 20px;
}

.calendar .months li .selected{
	font-weight: bold;
	color: #747978;
}

.calendar .weekday li a{
	width: 55px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}

.calendar .days li{
	width: 55px;
}

.calendar .days li a{
	width: 36px;
	height: 24px;
	text-align: center;
	margin: auto auto;
	font-size: 12px;
	font-weight: bold;
	border-radius: 12px;
	margin-bottom: 10px;
	padding-top: 10px;
	box-sizing: content-box;
}


.calendar .days li a:hover{
	background-color: #EEEDE9;
}

.calendar .days li .selected{
	background-color: #F5A1A3!important;
	color: #ffffff;
}

.calendar .days li .event{
	color: #F5A1A3;
}


/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }

.calendar .days .disabled {
	pointer-events: none;
}