h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
.historyForm{
    /*center the show history button in todos.ejs*/
    display:flex;
    justify-content: center;
}
body{
    display:flex;
    flex-direction:row;
}