<form action="/<%= action %>" method="<%= method %>">
  <p class="text-center h1 fw-bold">
    <%= title %>
  </p>
  <!-- don't show this by default -->
  <div class="alert hidden" id="formInfo"></div>
